body{
    font-family: poppins;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
.nav .logo{
    margin: 10px;
    font-size: 20px;
    font-family: poppins;
    text-transform: uppercase;
}
.menu-links{
    display: flex;
    width: 540px;
}
.menu-links ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 10px;
    padding: 0;
}
.menu-links ul li{
    list-style: none;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 10px;
    visibility: hidden;
}
.content{
    display: flex;
    flex-direction: column;
}
.tagline{
    color: rgb(144, 141, 136); 
    margin-left: 207px;
    margin-top: 10px;   
}
.title{
    font-size: 158px;
    line-height: 1;
    width: 920px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: poppins;
    opacity: 0;
}
.desc{
    width: 920px;
    margin: 0 auto;
}
.desc p{
    /* font-weight: bold; */
}
.desc span{
    color: greenyellow;
}
.desc p:last-child {
    width: 297px;
    font-size: 11px;
}
.beer{
    position: absolute;
    width:100%;
    top: 90px;
    left: -120px;
}
.beer img{
    display: block;
    margin: 0 auto;
    width: 405px;
 
}